<h2>Dane rozkazu przełożonego</h2>

<form [formGroup]="form" class="form-container">
  <div class="form-group">
    <label for="Rank">Stopień przełożonego</label>
    <input
      type="text"
      id="Rank"
      formControlName="rank"
      [disabled]="isReadOnly"
      [class.readonly-field]="isReadOnly"
    />
  </div>

  <div class="form-group">
    <label for="Origin">Przynależność</label>
    <input
      type="text"
      id="Origin"
      formControlName="origin"
      [disabled]="isReadOnly"
      [class.readonly-field]="isReadOnly"
    />
  </div>

  <div class="form-group">
    <label for="OrderNo">Numer rozkazu</label>
    <input
      type="text"
      id="OrderNo"
      formControlName="orderNo"
      [disabled]="isReadOnly"
      [class.readonly-field]="isReadOnly"
    />
  </div>

  <div class="form-group">
    <label for="OrderDate">Data uzyskania rozkazu</label>
    <input
      type="date"
      id="OrderDate"
      formControlName="orderDate"
      [disabled]="isReadOnly"
      [class.readonly-field]="isReadOnly"
    />
  </div>

  <button
    (click)="submitForm()"
    [disabled]="isReadOnly"
    [class.readonly-field]="isReadOnly"
    class="submit-button"
  >
    Zapisz
  </button>
  <button *ngIf="isReadOnly" (click)="enableEdit()" class="edit-button">
    Edytuj
  </button>
</form>
