/* Resetowanie stylów */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styl dla kontenera formularza */
.form-container {
  max-width: 600px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styl dla grupy formularza */
.form-group {
  margin-bottom: 20px;
}

.readonly-field {
  background-color: #f0f0f0; /* Kolor tła dla pól tylko do odczytu */
  cursor: not-allowed; /* Zmiana kursora na zakaz edycji */
  color: #555; /* Kolor tekstu dla pól tylko do odczytu */
}

.edit-button {
  background-color: #007bff; /* Kolor tła przycisku "Edytuj" */
  color: #fff; /* Kolor tekstu przycisku "Edytuj" */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.edit-button:hover {
  background-color: #0056b3; /* Kolor tła przycisku "Edytuj" po najechaniu */
}
/* Styl dla etykiety */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Styl dla pola tekstowego */
input[type="text"],
input[type="date"] {
  width: calc(100% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styl dla pola checkbox */
input[type="checkbox"] {
  margin-right: 5px;
}

/* Styl dla przycisków */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Styl dla przycisku edycji */
.edit-button {
  background-color: #28a745;
}

.edit-button:hover {
  background-color: #218838;
}

/* Styl dla przycisku zapisywania */
.submit-button {
  background-color: #007bff;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Styl dla przycisku edycji, gdy formularz jest tylko do odczytu */
.submit-button[disabled] + .edit-button {
  display: inline-block;
}
